[buildout]
extends = buildout.cfg

sources = sources
auto-checkout = *
always-checkout = force
allow-picked-versions = true
show-picked-versions = true

parts +=
  test
  mkrelease
  monkey
  i18ndude
  nosetest
  xmltestreport
  coverage
  report
  site-packages

extensions =
  mr.developer
  buildout.autoextras
  plone.versioncheck
  eea.eggmonkey

autoextra-keys =
  test
autoextra-targets =
  test:eggs
  xmltestreport:eggs

[configuration]

eggs +=
  rpdb
  plone.reload
  collective.monkeypatcherpanel
  Products.PrintingMailHost
  plone.app.debugtoolbar
  collective.loremipsum
  eea.devel
  eea.rabbitmq.plone
  Products.ZMIntrospection
  Products.PloneTestCase
  Products.ZSPARQLMethod
  sparql-client

zcml +=
  plone.reload
  eea.devel

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-progress']
eggs =
  plone.app.testing
  ${configuration:eggs}

[mkrelease]
recipe = zc.recipe.egg
eggs = jarn.mkrelease

[monkey]
recipe = zc.recipe.egg
eggs = eea.eggmonkey
       zest.pocompile

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude
unzip = true

[nosetest]
recipe = pbp.recipe.noserunner
eggs = pbp.recipe.noserunner
working-directory = ${buildout:directory}

[xmltestreport]
recipe = collective.xmltestreport
eggs =
  plone.app.testing
  ${configuration:eggs}
defaults = ['--exit-with-status', '--xml']

[coverage]
recipe = zc.recipe.egg
eggs = coverage

[report]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report

[versions]
rpdb = 0.1.6
ipdb = 0.8.1

[site-packages]
# Reproduce a single directory tree of the Python packages installed in this buildout's
# `rel_client` part.  Useful for searching, browsing, or otherwise exploring all the
# source code involved in the application in a way that's more readable and avoids
# duplicates from older versions of eggs.
recipe = collective.recipe.omelette
eggs = ${configuration:eggs}
